<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<!-- head 조각 -->
	<head th:fragment="headFragment">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Infinitysoftway" />
		<meta name="description" content="statistic charts">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- FAVICON -->
		<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
		
		<!-- STYLE -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>

</html>