<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header header-fixed header-light"
	th:fragment="headerFragment">
	<div class="header-middle">
		<div class="logo-color logo-color-light">
			<div class="logo">
				<div class="logo-middle">
					<a href="/template/index.html"><img th:src="@{/images/logo.svg}"
						alt="Logo"></a>
				</div>
			</div>
		</div>
		<div class="header-topbar">
			<div class="topbar-left">
				<a class="side-toggle" href="#!"> <i class="la la-bars"></i>
				</a>
				<div class="search-box">
					<div class="search">
						<input class="form-control border-0" type="search" placeholder="Type something..." aria-label="Search">
						<a href="#"><i class="la la-search"></i></a>
					</div>
				</div>
			</div>
			<div class="topbar-right">
				<ul>
					<li class="dropdown show language">
						<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span> <i class="flag-icon flag-icon-us"></i></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="language-title">
								<h5 class="mb-0">Language choose</h5>
							</div>
							<div class="language-choose">
								<a class="dropdown-item" href="#">
									<i class="flag-icon flag-icon-us"></i>USA
								</a> 
								<a class="dropdown-item" href="#">
									<i class="flag-icon flag-icon-de"></i> Germany
								</a>
								<a class="dropdown-item" href="#">
									<i class="flag-icon flag-icon-fr"></i>France
								</a>
								<a class="dropdown-item" href="#">
									<i class="flag-icon flag-icon-cn"></i>China
								</a>
							</div>
						</div>
					</li>
					<li class="dropdown show setting"><a id="showRight"
						class="dropdown-toggle" href="#" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span> <i class="la la-tasks"></i></span>
					</a>
						<div class="animate-menu animate-menu-right right-sidebar">
							<div class="tab">
								<ul class="nav nav-pills" id="myTab-01" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										id="chat-tab-01" data-toggle="tab" href="#chat-01" role="tab"
										aria-controls="chat-01" aria-selected="false"> Chat</a></li>
									<li class="nav-item"><a class="nav-link"
										id="projects-tab-01" data-toggle="tab" href="#projects-01"
										role="tab" aria-controls="projects-01" aria-selected="true">Projects</a>
									</li>
									<li class="nav-item"><a class="nav-link"
										id="contact-tab-01" data-toggle="tab" href="#contact-01"
										role="tab" aria-controls="contact-01" aria-selected="false">
											Todo </a></li>
								</ul>
								<div class="tab-content" id="myTabContent-01">
									<div class="tab-pane fade show active" id="chat-01"
										role="tabpanel" aria-labelledby="chat-tab-01">
										<div class="sidebar-chat">
											<div class="mb-4">
												<h5>Connections</h5>
												<p>Blanditiis explicabo facilis ducimus</p>
											</div>
											<div class="list-group-item">
												<div class="media">
													<div class="avatar avatar-sm mr-3">
														<span class="status badge-success"></span> <img
															class="img-fluid" src="images/team/01.jpg" alt="">
													</div>
													<div class="media-body">
														<div class="messages-name">
															<h6>
																<a href="#">Lael Greer</a>
															</h6>
															<span class="text-light">Excepturi dicta vero
																animi...</span>
														</div>
													</div>
												</div>
											</div>
											<div class="list-group-item">
												<div class="media">
													<div class="avatar avatar-sm mr-3">
														<span class="status badge-danger"></span> <img
															class="img-fluid" src="images/team/02.jpg" alt="">
													</div>
													<div class="media-body">
														<div class="messages-name">
															<h6>
																<a href="#">Olivia Liang </a>
															</h6>
															<span class="text-light">Ut enim ad minim veniam
																nostrud...</span>
														</div>
													</div>
												</div>
											</div>
											<div class="list-group-item">
												<div class="media">
													<div class="avatar avatar-sm mr-3">
														<span class="status badge-danger"></span> <img
															class="img-fluid" src="images/team/03.jpg" alt="">
													</div>
													<div class="media-body">
														<div class="messages-name">
															<h6>
																<a href="#">Jena Gaines </a>
															</h6>
															<span class="text-light">Exercitation ullamco
																laboris nisi...</span>
														</div>
													</div>
												</div>
											</div>
											<div class="list-group-item">
												<div class="media">
													<div class="avatar avatar-sm mr-3">
														<span class="status badge-success"></span> <img
															class="img-fluid" src="images/team/04.jpg" alt="">
													</div>
													<div class="media-body">
														<div class="messages-name">
															<h6>
																<a href="#">Cedric Kelly </a>
															</h6>
															<span class="text-light">Ut aliquip ex ea
																consequat...</span>
														</div>
													</div>
												</div>
											</div>
											<div class="list-group-item border-0">
												<div class="media">
													<div class="avatar avatar-sm mr-3">
														<span class="status badge-success"></span> <img
															class="img-fluid" src="images/team/05.jpg" alt="">
													</div>
													<div class="media-body">
														<div class="messages-name">
															<h6>
																<a href="#">Bruno Nash </a>
															</h6>
															<span class="text-light">Integer molestie lorem at
																massa...</span>
														</div>
													</div>
												</div>
											</div>
											<div class="chat-contact mt-4">
												<div class="mb-4">
													<h5>Contacts</h5>
												</div>
												<ul class="list-unstyled list-inline">
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/01.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-danger"></span> <img
																class="img-fluid" src="images/team/02.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-danger"></span> <img
																class="img-fluid" src="images/team/03.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm bg-warning">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/09.png" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm bg-secondary">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/10.png" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-danger"></span> <img
																class="img-fluid" src="images/team/04.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/05.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/06.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-danger"></span> <img
																class="img-fluid" src="images/team/07.jpg" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm bg-info">
															<span class="status badge-danger"></span> <img
																class="img-fluid" src="images/team/08.png" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/11.png" alt="">
														</div>
													</li>
													<li>
														<div class="avatar avatar-sm bg-success">
															<span class="status badge-success"></span> <img
																class="img-fluid" src="images/team/12.png" alt="">
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="projects-01" role="tabpanel"
										aria-labelledby="projects-tab-01">
										<div class="sidebar-project">
											<div class="project-item">
												<div class="project-title">
													<div class="project-title-left">
														<h5 class="mb-3">
															<a href="#!"> Application development </a>
														</h5>
														<span class="badge badge-overlay-danger">Pending</span>
													</div>
												</div>
												<div class="project-comments mt-2">
													<p>Officia nam sed possimus repellat et, assumenda
														corporis velit.</p>
												</div>

												<div class="project-status mt-3">
													<div class="project-status-label ">
														<span>Completed</span> <span>60%</span>
													</div>
													<div class="progress progress-h-5">
														<div class="progress-bar" role="progressbar"
															style="width: 60%;" aria-valuenow="90" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
												<div class="row mt-4">
													<div class="col-12">
														<div class="project-deadline">
															<h6 class="mb-2 d-inline-block">End date:</h6>
															<p class="d-inline-block">10/01/2021</p>
														</div>
													</div>
												</div>
											</div>
											<div class="project-item">
												<div class="project-title">
													<div class="project-title-left">
														<h5 class="mb-3">
															<a href="#!"> Application Testing </a>
														</h5>
														<span class="badge badge-overlay-success">Active</span>
													</div>
												</div>
												<div class="project-comments mt-2">
													<p>Assumenda corporis velit? Dicta et tenetur.</p>
												</div>

												<div class="project-status mt-3">
													<div class="project-status-label ">
														<span>Completed</span> <span>80%</span>
													</div>
													<div class="progress progress-h-5">
														<div class="progress-bar" role="progressbar"
															style="width: 80%;" aria-valuenow="90" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
												<div class="row mt-4">
													<div class="col-12">
														<div class="project-deadline">
															<h6 class="mb-2 d-inline-block">End date:</h6>
															<p class="d-inline-block">10/06/2021</p>
														</div>
													</div>
												</div>
											</div>
											<div class="project-item">
												<div class="project-title">
													<div class="project-title-left">
														<h5 class="mb-3">
															<a href="#!"> UI design </a>
														</h5>
														<span class="badge badge-overlay-success">Active</span>
													</div>
												</div>
												<div class="project-comments mt-2">
													<p>Tepellat et, assumenda corporis velit? Dicta et
														tenetur.</p>
												</div>

												<div class="project-status mt-3">
													<div class="project-status-label ">
														<span>Completed</span> <span>72%</span>
													</div>
													<div class="progress progress-h-5">
														<div class="progress-bar" role="progressbar"
															style="width: 72%;" aria-valuenow="90" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
												<div class="row mt-4">
													<div class="col-12">
														<div class="project-deadline">
															<h6 class="mb-2 d-inline-block">End date:</h6>
															<p class="d-inline-block">30/03/2021</p>
														</div>
													</div>
												</div>
											</div>
											<div class="project-item">
												<div class="project-title">
													<div class="project-title-left">
														<h5 class="mb-3">
															<a href="#!"> App design </a>
														</h5>
														<span class="badge badge-overlay-danger">Pending</span>
													</div>
												</div>
												<div class="project-comments mt-2">
													<p>Dicta et tenetur consequatur. officia nam sed
														possimus.</p>
												</div>

												<div class="project-status mt-3">
													<div class="project-status-label ">
														<span>Completed</span> <span>60%</span>
													</div>
													<div class="progress progress-h-5">
														<div class="progress-bar" role="progressbar"
															style="width: 60%;" aria-valuenow="90" aria-valuemin="0"
															aria-valuemax="100"></div>
													</div>
												</div>
												<div class="row mt-4">
													<div class="col-12">
														<div class="project-deadline">
															<h6 class="mb-2 d-inline-block">End date:</h6>
															<p class="d-inline-block">14/05/2021</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="contact-01" role="tabpanel"
										aria-labelledby="contact-tab-01">
										<div class="sidebar-setting">
											<h5 class="mb-4">General settings</h5>
											<div class="account-setting pb-3">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="customCheck1"> <label
														class="custom-control-label" for="customCheck1">Report
														panel usage</label>
												</div>
											</div>
											<div class="account-setting pb-3">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="customCheck2"> <label
														class="custom-control-label" for="customCheck2">Mail
														redirect</label>
												</div>
											</div>
											<div class="account-setting pb-3">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="customCheck3"> <label
														class="custom-control-label" for="customCheck3">Expose
														author name</label>
												</div>
											</div>
											<div class="account-setting pb-3">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="customCheck4"> <label
														class="custom-control-label" for="customCheck4">Save
														History</label>
												</div>
											</div>
											<h5 class="mb-4 mt-5">Account settings</h5>
											<div class="account-setting">
												<h6>Notifications</h6>
												<label class="switch "> <input type="checkbox"
													class="primary" checked=""> <span
													class="slider round name"></span>
												</label>
											</div>
											<div class="account-setting">
												<h6>Show Online</h6>
												<label class="switch "> <input type="checkbox"
													class="primary"> <span class="slider round name"></span>
												</label>
											</div>
											<div class="account-setting">
												<h6>Cloud Sync</h6>
												<label class="switch "> <input type="checkbox"
													class="primary" checked=""> <span
													class="slider round name"></span>
												</label>
											</div>
											<div class="account-setting">
												<h6>Status</h6>
												<label class="switch "> <input type="checkbox"
													class="primary"> <span class="slider round name"></span>
												</label>
											</div>
											<h5 class="mb-4 mt-5">CPU status</h5>
											<span> % Utilization</span>
											<div class="progress progress-h-5 mt-2">
												<div class="progress-bar" role="progressbar"
													style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div></li>
					<li class="dropdown show messages"><a class="dropdown-toggle"
						href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <span> <span
								class="messages-badge"></span> <i class="la la-comment"></i></span>
					</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="messages-title">
								<div class="row">
									<div class="col-8">
										<h4>Messages</h4>
										<p class="mb-0">12 unread messages</p>
									</div>
									<div class="col-4">
										<span class="badge badge-light">56 new</span>
									</div>
								</div>
							</div>
							<ul class="list-unstyled">
								<li>
									<div class="media">
										<div class="avatar avatar-sm mr-3">
											<span class="status badge-success"></span> <img
												class="img-fluid" src="images/team/05.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="messages-name">
												<a href="#">Airi Satou </a> <span class="time-date">
													12 min ago</span>
											</div>
											<p>Excepturi dicta tempora vero animi...</p>
											<div class="messages-replay">
												<a class="link" href="#"> <i class="la la-mail-reply"></i>
													Reply
												</a> <a class="link" href="#"> <i class="la la-eye"></i>
													Read
												</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="media">
										<div class="avatar avatar-sm mr-3">
											<img class="img-fluid" src="images/team/07.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="messages-name">
												<a href="#">Jena Gaines </a> <span class="time-date">
													12 hr ago</span>
											</div>
											<p>Exercitation ullamco laboris nisi...</p>
											<div class="messages-replay">
												<a class="link" href="#"> <i class="la la-mail-reply"></i>
													Reply
												</a> <a class="link" href="#"> <i class="la la-eye"></i>
													Read
												</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="media">
										<div class="avatar avatar-sm mr-3">
											<span class="status badge-success"></span> <img
												class="img-fluid" src="images/team/03.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="messages-name">
												<a href="#">Lael Greer</a> <span class="time-date">
													30 hr ago</span>
											</div>
											<p>Ut aliquip ex ea commodo...</p>
											<div class="messages-replay">
												<a class="link" href="#"> <i class="la la-mail-reply"></i>
													Reply
												</a> <a class="link" href="#"> <i class="la la-eye"></i>
													Read
												</a>
											</div>
										</div>
									</div>
								</li>
								<li class="text-center"><a class="link" href="#">View
										all notification</a></li>
							</ul>
						</div></li>
					<li class="dropdown show notifications"><a
						class="dropdown-toggle" href="#" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span> <span class="notifications-badge"></span> <i
								class="la la-bell"></i>
						</span>
					</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="notifications-title">
								<div class="row">
									<div class="col-8">
										<h4>Notifications</h4>
										<p class="mb-0">2 unread notification</p>
									</div>
									<div class="col-4">
										<span class="badge badge-light">56 new</span>
									</div>
								</div>
							</div>
							<ul class="list-unstyled">
								<li>
									<div class="media">
										<div class="avatar avatar-sm mr-3">
											<img class="img-fluid" src="images/team/01.jpg" alt="">
										</div>
										<div class="media-body">

											<a href="#"> <b>Sed do </b> eiusmod tempor <span
												class="text-primary">labore</span>
											</a> <span> <i class="fa fa-check-circle text-success"></i>
												12 min ago
											</span>
										</div>
									</div>
								</li>
								<li>
									<div class="media">
										<div class="avatar avatar-sm mr-3">
											<img class="img-fluid" src="images/team/02.jpg" alt="">
										</div>
										<div class="media-body">
											<a href="#"> Ut enim ad <b>minim</b> veniam nostrud
											</a> <span> <i class="fa fa-arrow-circle-up text-info"></i>
												40 min ago
											</span>
										</div>
									</div>
								</li>
								<li>
									<div class="media">
										<div class="avatar avatar-sm mr-3">
											<img class="img-fluid" src="images/team/03.jpg" alt="">
										</div>
										<div class="media-body">
											<a href="#"> <b>Ullamco</b> laboris nisi ut aliquip
											</a> <span> <i class="fa fa-plus-circle text-danger"></i>
												12 hr ago
											</span>
										</div>
									</div>
								</li>
								<li class="text-center"><a class="link" href="#">View
										all notification</a></li>
							</ul>
						</div></li>
					<li class="dropdown show user-profile"><a
						class="dropdown-toggle" href="#" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="avatar avatar-sm mr-1">
								<img class="img-fluid" src="images/team/01.jpg" alt="">
							</div>
					</a>
						<div class="dropdown-menu dropdown-menu-right">
							<div class="profile-pic">
								<div class="row">
									<div class="col-8">
										<div class="profile-name">
											<h4>Luben Ivan</h4>
											<a href="#"> lubenivan@gmail.com</a>
										</div>
									</div>
									<div class="col-4">
										<div class="avatar mr-1">
											<img class="img-fluid" src="images/team/03.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="profile-info">
								<a class="dropdown-item" href="#"> <i class="la la-edit"></i>
									My Profile
								</a> <a class="dropdown-item" href="#"> <i class="la la-refresh"></i>
									Inbox <span class="badge badge-danger float-right">03</span></a> <a
									class="dropdown-item" href="#"> <i class="la la-star-o"></i>
									Favorites
								</a> <a class="dropdown-item" href="#"> <i class="la la-wechat"></i>
									Downloads
								</a>
								<div class="separator my-2"></div>
								<a class="dropdown-item" href="#"> <i class="la la-cog"></i>
									Account Setting
								</a> <a class="btn btn-outline-primary outline-gray btn-sm mt-3"
									href="#"> <i class="la la-power-off"></i> Logout
								</a>
							</div>
						</div></li>
				</ul>
			</div>
		</div>
	</div>
</header>
</html>