<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">	
		
	<div class="main-panel">
		<div class="panel-hedding">
			<div class="row mb-4">
			
				<div class="col-md-6">
					
				</div>
				
				<div class="col-md-6">
					<div class="add-new">
						<a class="btn btn-primary" href="#!"> <i class="feather icon-plus"></i> Add new</a>
					</div>
				</div>
				
			</div>
		</div>	
		
		
		</div>
		
	</th:block>
</html>